/* .container{
    height: 100svh;
    background-size: cover;
    background-image: url(src/assets/images/DSCF9118.JPG);
} */

.hero {
    height: 100svh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }

  .back-video {
    position: absolute;
    right: 0;
    top: 0;
    height: 100svh !important;
      width: auto;
      /* width: 100vw !important;
      height: auto !important; */
      /* max-height: 100svh; */
    z-index: -1;
  }

  /* @media all and (min-width: 460px) {
    .back-video {
      width: 100vw !important;
    height: auto !important;
    max-height: 100svh !important;
    overflow: hidden;
    }
  } */

  .video-layer{
    height: 100svh;
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.192);
  }
