<section class="container" id="referenzen">
    <h1 class="title" >Referenzen</h1>
    <h2 class="projectnames">Imagevideo Anwaltskanzlei Raadts und Brüder</h2>
    <section class="youtube-container">
        <youtube-player videoId="qj_AZ_FkPtQ" [height]="250" 
    [width]="250"></youtube-player>
    <h2 class="projectnames">Musikvideo zu Bettina</h2>
    <section class="youtube-container">
        <youtube-player videoId="nDlC8k1SOAs" [height]="250" 
    [width]="250"></youtube-player>
    </section>
    
</section>
