
.container{
    background-color: #1B1B1B;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    }
    
    .title{
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 25px;
    color: white;
    }

    .projectnames{
        font-size: 1.5rem;
        font-weight: lighter;
        margin-top: 15px;
        margin-bottom: 25px;
        color: white;
        text-align: center;
    }

    .youtube-container{
    z-index: 2;
    border-radius: 20px;
    }

    .youtube{
       z-index: 0;
       border-radius: 20px;
    }
    