<app-loading-spinner *ngIf="isLoading === true"></app-loading-spinner>
<app-header></app-header>
<section class="container">

    
<section class="content">
    <video autoplay [autoplay]="'autoplay'" [controls]="''" loop [loop]="'loop'"  playsinline [muted]="'muted'" class="back-video" id="videoBG" >
        <source
          src="./assets/images/showreel.mp4"
          type="video/mp4"
          
        />
      </video>
    
</section>
</section>


<!-- poster="./assets/images/DSCF9118.JPG" -->