<section class="container" id="aboutme">
    <h1 class="title" >Unser Team</h1>
    <section class="scroll">
        <section class="innerSection">
            <img src="./assets/images/DSCF9118 2-min.jpg" class="aboutmepicture"> 
            <!-- <p class="text">Moin!
        Ich bin Luca. Ich helfe Privatpersonen und Unternehmen bei der Umsetzung von komplexen und anspruchsvollen Drohnen-Aufnahmen. 
            </p> -->
            <p class="name">Luca Raadts</p>
            <p class="position">FPV Indoor und Outdoor</p>
        </section>

        <section class="innerSection">
            <img src="./assets/images/DSCF0034-min.jpg" class="aboutmepicture"> 
            <!-- <p class="text">Moin!
        Ich bin Luca. Ich helfe Privatpersonen und Unternehmen bei der Umsetzung von komplexen und anspruchsvollen Drohnen-Aufnahmen. 
            </p> -->
            <p class="name" >Felix Bösing</p>
            <p class="position">FPV Indoor und Drohnen Vermessung</p>
        </section>

        <section class="innerSection">
            <img src="./assets/images/DSCF7749-min (1).jpg" class="aboutmepicture"> 
            <!-- <p class="text">Moin!
        Ich bin Luca. Ich helfe Privatpersonen und Unternehmen bei der Umsetzung von komplexen und anspruchsvollen Drohnen-Aufnahmen. 
            </p> -->
            <p class="name" >Jan Raadts</p>
            <p class="position">Geschäftsführer</p>
        </section>

    </section>
    
    
</section>

