<section class="container" id="aboutme">
    <h1 class="title" >About Me</h1>
    <img src="./assets/images/DSCF5654.jpg" class="aboutmepicture"> 
    <p class="text">Moin!

        Wir sind Thora und Jan, zwei junge Studenten aus Norddeutschland. Jede freie Minute versuchen wir am Meer zu verbringen, am liebsten, um zu surfen oder um die Wellen zu beobachten. An solchen Tagen haben wir immer wieder festgestellt, dass es nichts Schöneres gibt, als sich in seinem Surfponcho einzukuscheln, wenn man aus dem kalten Wasser kommt.
        </p>
</section>

