<section class="container" id="kontakt">
    <h1 class="title" >Kontakt</h1>
    <form>
        <label for="name" class="label">Name:</label>
        <input type="text" id="name" required class="input">
        <label for="email" class="label">E-Mail:</label>
        <input type="text" id="email" required class="input">
        <label for="betreff" class="label">Betreff:</label>
        <input type="text" id="betreff" required class="input">
        <label for="nachricht" class="label">Nachricht:</label>
        <textarea  id="nachricht" required class="textarea"></textarea>
        <section class="buttoncontainer">   
            <button type="submit" class="button">Absenden</button>
        </section>
     
        
    </form>
   
</section>