<section class="container" id="leistungen">
    <h1 class="title">Leistungen</h1>
    <h2 class="projectnames">Indoor Aufnahmen</h2>
    <p class="text">
        Innerhalb eines Gebäudes, einer Halle, oder sogar in Häusern lassen sich dynamische und flüssige, aber auch ruhige Aufnahmen machen. Hier bietet sich optimal das Filmen der Inneneinrichtung und der Architektur an.
Präsentiere Deinen Kunden beispielsweise Deine Immobilie, Location oder Dein Gewerbe mit einem Rundflug durch die Räume. Ein solcher Rundflug durch die ganze Location, beispielsweise als OneShot, stellt sie Deinen Kunden schnell, prägnant und spannend vor. Gemeinsam legen wir eine optimale Flugroute fest, welche auch einen Anflug von außen durch ein Fenster oder den Eingang beinhalten kann.
Die Propeller der langsamen Indoor-Filmdrohnen (Cinewhoop ́s) sind nach außen geschützt - und stellen somit kein Risiko dar. Die Drohnen werden mit höchster Präzision manuell per Videobrille gesteuert und können selbst an sehr schwer zugänglichen Orten filmen.
    </p>
    <h2 class="projectnames">Outdoor Aufnahmen</h2>
    <p class="text">
        Ob Immobilien, Autos, Sport, Industrie oder Freizeitaktivitäten - Stelle Deinen Kunden dein Motiv aus der dynamischen und spannenden Vogelperspektive der FPV-Drohnen vor. An der frischen Luft können die Filmdrohnen fast unbegrenzt frei fliegen.
Es eröffnen sich unzählige Möglichkeiten verschiedene Motive zu filmen. Dynamische Motive, wie Autos, können mit den schnellen Racing Filmdrohnen Kopf-an-Kopf verfolgt werden. Statische Motive, wie Immobilien,
lassen sich wunderbar expressiv präsentieren: Sturzflüge an der Fassade und weitere Manöver zeigen noch nie dagewesene Perspektiven.
Die Outdoor-Filmdrohnen erreichen hohe Geschwindigkeiten von bis zu 160 km/h und können über Wasser filmen. Sie werden manuell mit höchster Präzision per Videobrille gesteuert.
    </p>
</section>
