<section class="container" id="leistungen">
    <h1 class="title">Leistungen</h1>
    <section class="inner-container">
        <section class="service">
            <h2 class="projectnames">Indoor Aufnahmen</h2>
            <p class="text">
                Innerhalb eines Gebäudes, einer Halle, oder sogar in Häusern lassen sich ...
            </p>
            <button class="button">Mehr Erfahren</button>
        </section>
        <section class="service">
            <h2 class="projectnames">Outdoor Aufnahmen</h2>
            <p class="text">
                Ob Immobilien, Autos, Sport, Industrie oder Freizeitaktivitäten - Stelle ...
            </p>
            <button class="button">Mehr Erfahren</button>
        </section>
        <section class="service">
            <h2 class="projectnames">Drohnen Vermessung</h2>
            <p class="text">
                Wir vermessen anhand der Drohnen Aufnahmen ihr Gebäude oder ihre ...
            </p>
            <button class="button">Mehr Erfahren</button>
        </section>
    </section>
</section>




<!-- <section class="scroll">

    <section class="category">
        <h2 class="projectnames">Indoor Aufnahmen</h2>
        <img src="./assets/images/IMG_4822.jpg" class="aboutmepicture"> 
        <p class="text">
            Innerhalb eines Gebäudes, einer Halle, oder sogar in Häusern lassen sich ...
        </p>
    </section>

    <section class="category">
        <h2 class="projectnames">Outdoor Aufnahmen</h2>
        <img src="./assets/images/IMG_4823.jpg" class="aboutmepicture"> 
        <p class="text">
            Ob Immobilien, Autos, Sport, Industrie oder Freizeitaktivitäten - Stelle ...
        </p>
    </section>

    <section class="category">
        <h2 class="projectnames">Vermessung</h2>
        <img src="./assets/images/IMG_4822.jpg" class="aboutmepicture"> 
        <p class="text">
            Wir vermessen anhand der Drohnen Aufnahmen ihr Gebäude oder ihre ...
        </p>
    </section>

</section> -->

<!-- <p class="text">
    Innerhalb eines Gebäudes, einer Halle, oder sogar in Häusern lassen sich dynamische und flüssige, aber auch ruhige Aufnahmen machen. Hier bietet sich optimal das Filmen der Inneneinrichtung und der Architektur an.
Die Propeller der langsamen Indoor-Filmdrohnen (Cinewhoop ́s) sind nach außen geschützt - und stellen somit kein Risiko dar.
</p> -->


<!-- <p class="text">
    Ob Immobilien, Autos, Sport, Industrie oder Freizeitaktivitäten - Stelle Deinen Kunden dein Motiv aus der dynamischen und spannenden Vogelperspektive der FPV-Drohnen vor. 
Es eröffnen sich unzählige Möglichkeiten verschiedene Motive zu filmen. Dynamische Motive, wie Autos, können mit den schnellen Racing Filmdrohnen Kopf-an-Kopf verfolgt werden. Statische Motive, wie Immobilien,
lassen sich wunderbar expressiv präsentieren: Sturzflüge an der Fassade und weitere Manöver zeigen noch nie dagewesene Perspektiven.
</p> -->
