.container{
    margin-top: 2rem;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    }

    .service{
        width: 90vw;
        max-width: 500px;
        height: 40vh;
        background-color:  #eecb3e;
        background-size: cover;
        background-position: center;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 1rem;
    }


    .indoor{
        background-image: linear-gradient(#b0952992, #c6a93689), url('./../../assets/images/DSCF5640-min.jpg'); 
    }

    .outdoor{
        background-image: linear-gradient(#b06a2992, #c6773689), url('./../../assets/images/DeepSixDrone_1.jpeg'); 
    }

    .vermessung{
        background-image: linear-gradient(#9929b092, #ba36c689), url('./../../assets/images/drohnenvermessung-in-kiel_218870939.jpg'); 
    }


    .button{
        background: #0A2645;;
        border-radius: 24.5px;
        width: 40vw;
        max-width: 150px;
        height: 3rem;
        color: white;
        border: none;
        font-size: 1rem;
        font-weight: bolder;
            }

    

    .inner-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        overflow: scroll;
    }

    @media (min-width: 600px) {
        .inner-container {
            flex-direction: row;
        }
        
    }
    
    .title{
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 15px;
    color: #0A2645;
    }

    .projectnames{
        font-size: 1.5rem;
        font-weight: bolder;
        margin-bottom: 5px;
        color: white;
        text-align: center;
    }

    .text{
        width: 73vw;
        max-width: 290px;
        color: white;
        margin-top: 15px;
        font-size: 1.3rem;
        font-weight: normal;
        text-align: justify;
        line-height: 1.8rem;
        }


p{
    hyphens: auto;
    text-align: justify;
}

.scroll{
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.category{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem;
}

.aboutmepicture{
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 25px;
    width: 75vw;
    max-width: 300px;
    }
    